
    :root {
      --carousel-caption-color: black;
      --carousel-caption-bg-color: rgba(0, 0, 0, 0);
      --carousel-control-color: black;
      --carousel-control-bg-color: rgba(0, 0, 0, 0);
    }

    .carousel-dark .carousel-indicators [data-bs-target] {
      filter: invert(1) grayscale(100%);
    }

    .carousel-dark .carousel-indicators [data-bs-target]:hover {
      filter: invert(0) grayscale(0%);
    }

    .carousel-dark .carousel-caption {
      color: var(--carousel-caption-color);
      background-color: var(--carousel-caption-bg-color);
    }

    .carousel-dark .carousel-control-prev,
    .carousel-dark .carousel-control-next {
      color: var(--carousel-control-color);
      background-color: var(--carousel-control-bg-color);
    }

    
    html, body {
      height: 100%;
      margin: 0;
      padding: 0; 
      font-family: 'Varela Round', sans-serif;    
    }

  

    h5 {
      color: black;
      font-style: italic;
    }
    p {
      color: black;
      font-family: 'ADLaM Display', cursive; 
    }
     #resultadosCliente p {
      margin-top: 10px;
      margin-bottom: 5px;
     }
     #resultadosCliente input{
      margin-top: 1px;
      margin-bottom: 5px;
     }

     #descripcionBusquedaMedicacion {
      
      padding-left: 30px;
  }

  .card {    
    width: 200px;
    height: auto; 
    text-align: center;     
}

#cardUbicaciones {
  background: url('Img/puntero-veterinaria-removebg-preview.png') no-repeat center center;
  background-size: contain;
}
#cardCallejeros {
  background: url('Img/emergencia-animal-removebg-preview.png') no-repeat center center;
  background-size: auto; 
}
#cardEspecialistas {
  background: url('Img/Especialidades.png') no-repeat center center;
  background-size: contain;
}
#cardDonaciones {
  background: url('Img/ayuda-animal-removebg-preview.png') no-repeat center center;
  background-size: contain;
}
#cardUbicaciones p,
#cardUbicaciones h5,
#cardCallejeros p,
#cardCallejeros h5,
#cardEspecialistas p,
#cardEspecialistas h5,
#cardDonaciones p,
#cardDonaciones h5 {
    color: black;    
}

#columna1 {
  background-color: rgba(200, 255, 0, 0.582);
}
#columna2A {
  background-color: rgba(215, 231, 67, 0.582);
}
#columna2B {
  background-color: rgba(255, 0, 0, 0.3);  
}

#divGestionMascotas {
  padding-block-start: 30px;
}

