
    :root {
      --carousel-caption-color: black;
      --carousel-caption-bg-color: rgba(0, 0, 0, 0);
      --carousel-control-color: black;
      --carousel-control-bg-color: rgba(0, 0, 0, 0);
    }

    .carousel-dark .carousel-indicators [data-bs-target] {
      filter: invert(1) grayscale(100%);
    }

    .carousel-dark .carousel-indicators [data-bs-target]:hover {
      filter: invert(0) grayscale(0%);
    }

    .carousel-dark .carousel-caption {
      color: var(--carousel-caption-color);
      background-color: var(--carousel-caption-bg-color);
    }

    .carousel-dark .carousel-control-prev,
    .carousel-dark .carousel-control-next {
      color: var(--carousel-control-color);
      background-color: var(--carousel-control-bg-color);
    }
    
    html, body {
      height: 100%;
      margin: 0;
      padding: 0; 
      font-family: 'Varela Round', sans-serif;    
    }  

    h5 {
      color: black;
      font-style: italic;
    }
    p {
      font-family: 'ADLaM Display', cursive; 
    }
     #resultadosCliente p {
      margin-top: 10px;
      margin-bottom: 5px;
     }
     #resultadosCliente input{
      margin-top: 1px;
      margin-bottom: 5px;
     }

     #descripcionBusquedaMedicacion {      
      padding-left: 30px;
  }

  .card {    
    width: 300px;
    height: 110px; 
    text-align: center;
}

#cardVeterinarias {
  background: url('Img/puntero-veterinaria-removebg-preview.png') no-repeat left;
  background-size: contain;
  background-color: rgba(150, 52, 241, 0.479);
  color: rgb(233, 217, 217);
  padding-left: 1px;  
}

#cardVeterinarias h5,
#cardVeterinarias a {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  padding-left: 30px;  
}
#cardCallejeros {
  background: url('Img/emergencia-animal-removebg-preview.png') no-repeat left;
  background-size: contain; 
  background-color: rgba(200, 255, 0, 0.582);
  color: red;
  padding-left: 1px;  
}
#cardCallejeros h5,
#cardCallejeros a {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  padding-left: 30px;  
}
#cardEspecialistas {
  background: url('Img/Especialidades.png') no-repeat left;
  background-size: contain;
  background-color: rgba(0, 255, 55, 0.623); 
  color: white;
  padding-left: 1px;  
}
#cardEspecialistas h5,
#cardEspecialistas a {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  padding-left: 30px;
}

#cardDonaciones {
  background: url('Img/ayuda-animal-removebg-preview.png') no-repeat left;
  background-size: contain;
  background-color: rgba(255, 0, 0, 0.3); 
  color: white;
  padding-left: 1px;
}

#cardDonaciones h5,
#cardDonaciones a {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  padding-left: 30px;  
}

#rowJumbotron {
  padding-bottom: 0.5px;
}

@keyframes gradientAnimation {
  0% {
    background: linear-gradient(to right, #FAD02E, #FF9A9E);
  }
  20% {
    background: linear-gradient(to right, #FF9A9E, #B4F7F8);
  }
  40% {
    background: linear-gradient(to right, #B4F7F8, #FFC0A0);
  }
  60% {
    background: linear-gradient(to right, #FFC0A0, #FAD02E);
  }
  50% {
    background: linear-gradient(to right, #FAD02E, #FFC0A0);
  }
  90% {
    background: linear-gradient(to right, #FAD02E, #FF9A9E);
  }
  100% {
    background: linear-gradient(to right, #FF9A9E, #FAD02E);
  }
}

body {
  animation: gradientAnimation 10s infinite; 
  background-size: 200% 100%; 
  transition: background 2s ease; 
}

#jumbotronTop {
  animation: gradientAnimation 10s infinite;
  background-size: 200% 100%;
  transition: background 2s ease;
  background-image: none; 
}

.card {
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
  cursor: pointer;
}
